:root {
  --primaryBackgroundColor: #f1f1f1;

  --secundaryBackgroundColor100: #d1eef9;
  --secundaryBackgroundColor200: #a5daf4;
  --secundaryBackgroundColor300: #73b6df;
  --secundaryBackgroundColor400: #4b8ec0;
  --secundaryBackgroundColor500: #1d5c96;
  --secundaryBackgroundColor600: #154781;
  --secundaryBackgroundColor700: #0e356c;
  --secundaryBackgroundColor800: #092557;
  --secundaryBackgroundColor900: #051a48;

  --tertiaryBackgroundColor: #ffffff;

  --buttonColor100: #f7ccd8;
  --buttonColor200: #ef9cbc;
  --buttonColor300: #d16499;
  --buttonColor400: #a43977;
  --buttonColor500: #680e4b;
  --buttonColor600: #590a47;
  --buttonColor700: #4a0742;
  --buttonColor800: #3c043a;
  --buttonColor900: #2e0231;

  --primaryTextColor: #1e1e1e;
  --secundaryTextColor: #ffffff;

  --boxShadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  --boxShadowSm: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}
