:root {
  --primaryBackgroundColor: #f1f1f1;
  --secundaryBackgroundColor100: #d1eef9;
  --secundaryBackgroundColor200: #a5daf4;
  --secundaryBackgroundColor300: #73b6df;
  --secundaryBackgroundColor400: #4b8ec0;
  --secundaryBackgroundColor500: #1d5c96;
  --secundaryBackgroundColor600: #154781;
  --secundaryBackgroundColor700: #0e356c;
  --secundaryBackgroundColor800: #092557;
  --secundaryBackgroundColor900: #051a48;
  --tertiaryBackgroundColor: #ffffff;
  --buttonColor100: #f7ccd8;
  --buttonColor200: #ef9cbc;
  --buttonColor300: #d16499;
  --buttonColor400: #a43977;
  --buttonColor500: #680e4b;
  --buttonColor600: #590a47;
  --buttonColor700: #4a0742;
  --buttonColor800: #3c043a;
  --buttonColor900: #2e0231;
  --primaryTextColor: #1e1e1e;
  --secundaryTextColor: #ffffff;
  --boxShadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  --boxShadowSm: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
}

.visible {
  display: block;
}

.invisible {
  display: none;
}

.navigationItemActive {
  background-color: var(--secundaryBackgroundColor700);
}

.navigationItemInactive {
  background-color: var(--tertiaryBackgroundColor);
}

.text-sm {
  font-size: 1rem;
}

.text-md {
  font-size: 1.2rem;
}

*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primaryBackgroundColor);
  overflow-x: hidden;
}

main {
  margin-top: 6.2rem;
  padding: 0 2rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
}

img {
  display: block;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
a,
button,
input {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}

button {
  cursor: pointer;
}

#createIssue {
  position: absolute;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttonColor500);
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
  z-index: 1;
}

#createIssueAssignedToButton {
  width: fit-content;
}

#createIssuePrioritySelectButton {
  width: fit-content;
}

#createIssueSubmitButton,
#updateIssueButton {
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  background-color: var(--buttonColor500);
  color: var(--secundaryTextColor);
  padding: 0.4rem 0;
  border-radius: 0.2rem;
  width: 11rem;
  align-self: center;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 4.8rem;
  background-color: var(--secundaryBackgroundColor500);
  color: var(--secundaryTextColor);
  border-radius: 0 0 2rem 2rem;
  box-shadow: var(--boxShadow);
}
header ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  align-items: center;
}
header ul #backButtonItem {
  justify-self: start;
  margin-left: 1.8rem;
}
header ul #pageTitleItem {
  grid-area: 1/2/2/3;
  justify-self: center;
  text-wrap: nowrap;
}
header ul #activityButtonItem {
  grid-area: 1/3/2/4;
  justify-self: end;
  margin-right: 2.4rem;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;
}
footer nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 4.8rem;
  justify-content: space-between;
  width: 100%;
}
footer nav a {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0px -2px 5px rgba(0, 0, 0, 0.25));
}
footer nav a div {
  background-color: var(--tertiaryBackgroundColor);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer nav a:first-of-type div {
  border-radius: 2rem 0 0 0;
}
footer nav a #homeWrapper {
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 43 18'%3E%3Cpath d='M21 10C29.8 17.2 39 18.0001 43 18V0H0C4.5 0 10 1 21 10Z' fill='white'/%3E%3C/svg%3E"), linear-gradient(#000 0 0);
  mask-repeat: no-repeat;
  mask-size: 50% auto, auto;
  mask-position: right top;
  mask-composite: exclude;
}
footer nav a #issueWrapper {
  mask-image: url("data:image/svg+xml,%3Csvg%20width%3D%2243%22%20height%3D%2218%22%20viewBox%3D%220%200%2043%2018%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M22%2010C13.2%2017.2%204%2018.0001%200%2018V0H43C38.5%200%2033%201%2022%2010Z%22%20fill%3D%22%23f1f1f1%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(#000 0 0);
  mask-repeat: no-repeat;
  mask-size: 50% auto, auto;
  mask-position: left top;
  mask-composite: exclude;
}
footer nav a:last-of-type div {
  border-radius: 0 2rem 0 0;
}

#roomList {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1.5rem;
  row-gap: 1rem;
}
#roomList li {
  background-color: var(--tertiaryBackgroundColor);
  height: 10.4rem;
  box-shadow: var(--boxShadowSm);
}
#roomList li a {
  position: relative;
  display: block;
  height: 100%;
}
#roomList li a img {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem 0.2rem 0 0;
}
#roomList li a div {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secundaryBackgroundColor600);
  color: var(--secundaryTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem 0;
  border-radius: 0 0 0.2rem 0.2rem;
}
#roomList li a div p {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
}

#filterPanel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#filterPanel #activeArchive {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1.6rem;
}
#filterPanel #activeArchive button {
  background-color: var(--tertiaryBackgroundColor);
  max-width: 13rem;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  color: var(--primaryTextColor);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}
#filterPanel #activeArchive button:first-of-type {
  background-color: var(--secundaryBackgroundColor600);
  color: var(--secundaryTextColor);
}
#filterPanel #filterAndSort {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#filterPanel #filterAndSort fieldset {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
}
#filterPanel #filterAndSort fieldset #filterAndSortContainer {
  display: flex;
  flex-direction: row;
  gap: 1.2rem;
}
#filterPanel #filterAndSort fieldset #filterAndSortContainer #sort > ul,
#filterPanel #filterAndSort fieldset #filterAndSortContainer #filter > ul {
  gap: 1rem;
  position: absolute;
  background-color: var(--tertiaryBackgroundColor);
  left: 0;
  right: 0;
  padding: 1.2rem;
  top: 3rem;
}
#filterPanel #filterAndSort fieldset #filterAndSortContainer #sort > ul > li,
#filterPanel #filterAndSort fieldset #filterAndSortContainer #filter > ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#createIssueContainer {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  padding: 2rem;
  z-index: 1;
  background: rgba(0, 0, 0, 0.5);
}
#createIssueContainer #createIssuePopup {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
  background-color: var(--tertiaryBackgroundColor);
}
#createIssueContainer #createIssuePopup .createIssueHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#createIssueContainer #createIssuePopup .createIssueHeader .createIssueButtonGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
#createIssueContainer #createIssuePopup .createIssueRoom,
#createIssueContainer #createIssuePopup .createIssuePriority,
#createIssueContainer #createIssuePopup .createIssueAssignedTo {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
#createIssueContainer #createIssuePopup .createIssuePriorityAndAssigned {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#allIssuesList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#allIssuesList li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--tertiaryBackgroundColor);
  padding: 1rem;
  border-radius: 0.2rem;
  box-shadow: var(--boxShadow);
  cursor: pointer;
  height: 10.5rem;
}
#allIssuesList li .textWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
#allIssuesList li .imgWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#allIssuesList li .infoWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#allIssuesList li .infoWrapper .imgAndStatusWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#allIssuesList li .infoWrapper .imgAndStatusWrapper img {
  width: 100%;
}
#allIssuesList li .infoWrapper .priorityAndAssignedWrapper {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
#allIssuesList li .infoWrapper .priorityAndAssignedWrapper img {
  width: 100%;
}/*# sourceMappingURL=styles.css.map */