h1,
h2,
h3 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

h1 {
  font-size: 1.8rem;
  font-weight: 500;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p,
a,
button,
input {
  font-family: "IBM Plex Sans", sans-serif;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
}
