@use "../abstracts/variables" as *;

button {
  cursor: pointer;
}

#createIssue {
  position: absolute;
  bottom: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--buttonColor500);
  width: 4rem;
  height: 4rem;
  border-radius: 3rem;
  z-index: 1;
}
