{% extends "template.html" %}

{% block pageTitle %}
    Alle Meldingen
{% endblock %}

{% block content %}
<main>
        <section id="filterPanel">
        <nav id="activeArchive">
            <button id="activeIssues" class="text-md">
                Actief
            </button>
            <button id="archivedIssues" class="text-md">
                Archief
            </button>
        </nav>

        <form id="filterAndSort">
            <fieldset>
                <p id="sortedText" class="text-md"></p>
                <div id="filterAndSortContainer">
                    <div id="sort">
                        <button type="button" id="sortButton"><img src="../static/img/icons/sort.svg"></button>
                        <ul id="sortBy" class="invisible">
                            <li value="priorityHighToLow">
                                <p>Prioriteit hoog naar laag</p>
                                <input type="radio" name="sort" id="highToLowSelect" checked />
                            </li>
                            <li value="priorityLowToHigh">
                                <p>Prioriteit laag naar hoog</p>
                                <input type="radio" name="sort" />
                            </li>
                            <li value="newToOld">
                                <p>Nieuw naar oud</p>
                                <input type="radio" name="sort" />
                            </li>
                            <li value="oldToNew">
                                <p>Oud naar nieuw</p>
                                <input type="radio" name="sort" />
                            </li>
                        </ul>
                    </div>

                    <div id="filter">
                            <button type="button" id="filterButton"><img src="../static/img/icons/filter.svg"></button>
                            <ul id="filterBy" class="invisible">
                                <li class="priority filter-section">
                                    <p>Filter op Prioriteit</p>
                                    <ul id="priorityFilterOptions">
                                        <li><input type="checkbox" name="priority" value="high"><p>Hoog</p></li>
                                        <li><input type="checkbox" name="priority" value="medium"><p>Gemiddeld</p></li>
                                        <li><input type="checkbox" name="priority" value="low"><p>Laag</p></li>
                                    </ul>
                                </li>
                                <li class="room filter-section">
                                    <p>Filter op Kamer</p>
                                    <ul id="roomFilterOptions"></ul>
                                </li>
                                <li class="assignedTo filter-section">
                                    <p>Filter op Toegewezen aan</p>
                                    <ul id="assignedToFilterOptions"></ul>
                                </li>
                                <li class="createdBy filter-section">
                                    <p>Filter op Gemaakt door</p>
                                    <ul id="createdByFilterOptions"></ul>
                                </li>        
                            </ul>
                    </div>
                </div>
            </fieldset>

            <ul id="filterOptions">
                <li>
                    <button>
                        <p class="text-sm">{{ room_id }}</p>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.05273 3.01758L3.01764 9.05267" stroke="white" stroke-width="0.7" stroke-linecap="round"/>
                            <path d="M9.05273 9.05266L3.01764 3.01756" stroke="white" stroke-width="0.7" stroke-linecap="round"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </form>
    </section>

    <ul id="allIssuesList">
        <!-- Dit is tijdelijk totdat je een andere manier maakt. -->
    </ul>
</main>
{% endblock %}

{% block scripts %}
    <script>
        const roomIdCheck = "{{ room_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/allIssues.js') }}"></script>
{% endblock %}
