<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prototype</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
    <h1>Dashboard</h1>
    
    <div>
        <a href="/issues">Issues</a>
        <a href="/inventory">Inventory</a>
    </div>

</body>


    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</html>