{% extends "template.html" %}

{% block pageTitle %}
    Inventory
{% endblock %}

{% block content %}
    <main>
        <ul id="categoryList">
            <li>
                <a href="inventory/all-inventory" id="categorySection-all-categories">
                    <img src="../static/img/placeholder.svg">
                    <div>
                        <p>Alle inventaris</p>
                    </div>
                </a>
            </li>
        </ul>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/inventoryHome.js') }}"></script>
{% endblock %}