<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meldingen</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Meldingen</h1>

    <section id="roomList">
        <a href="issues/all-issues" id="roomConfigSection-all-rooms">
            <img src="../static/img/ruby.svg">
            <h2>Alle meldingen</h2>
        </a>

        <!-- the rest -->
    </section>

    <script src="{{ url_for('static', filename='js/issuesHome.js') }}"></script>
</body>
</html>