{% extends "template.html" %}

{% block pageTitle %}
    {{ room_id }}
{% endblock %}

{% block content %}
<main>
        <nav>
            <button id="activeIssues">
                Actief
            </button>
            <button id="archivedIssues">
                Archief
            </button>
        </nav>

        <form id="filterAndSort">
            <fieldset id="sortAndFilterContainer">
                <p id="sortedText">Lorem ipsum</p>
                <div id="sort">
                    <label for="sortBy"><img src="../static/img/icons/sort.svg"></label>
                    <select id="sortBy">
                        <option value="priorityHighToLow">Prioriteit hoog naar laag</option>
                        <option value="priorityLowToHigh">Prioriteit laag naar hoog</option>
                        <option value="newToOld">Nieuw naar oud</option>
                        <option value="oldToNew">Oud naar nieuw</option>
                    </select>
                </div>

                <div id="filter">
                    <label for="filterBy"><img src="../static/img/icons/filter.svg"></label>
                    <select id="filterBy">
                        <option value="room">Kamer</option>
                        <option value="priority">Prioriteit</option>
                        <option value="createdBy">Gemeld door</option>
                        <option value="assignedTo">Toegewezen aan</option>
                    </select>
                </div>
            </fieldset>

            <ul id="filterOptions">
                <li>
                    <button>
                        <p>Kamer</p>
                        <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M9.05273 3.01758L3.01764 9.05267" stroke="white" stroke-width="0.7" stroke-linecap="round"/>
                            <path d="M9.05273 9.05266L3.01764 3.01756" stroke="white" stroke-width="0.7" stroke-linecap="round"/>
                        </svg>
                    </button>
                </li>
            </ul>
        </form>

        <!-- actief & archief -->
        <!-- sorteren & filtreren -->
        <!-- filters -->

        <ul id="issueCards">
        </ul>

    </main>
{% endblock %}

{% block scripts %}
    <script>
        const roomIdCheck = "{{ room_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/issues.js') }}"></script>
{% endblock %}