{% extends "template.html" %}

{% block pageTitle %}
    Meldingen
{% endblock %}

{% block content %}
<main>
    <ul id="roomList">
        <li>
            <a href="issues/all-issues" id="roomConfigSection-all-rooms">
                <img src="../static/img/ruby.png">
                <div>
                    <p>Alle meldingen</p>
                </div>
            </a>
        </li>

        <!-- the rest -->
    </ul>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/issuesHome.js') }}"></script>
{% endblock %}