{% extends "template.html" %}

{% block pageTitle %}
    {{ room_id }}
{% endblock %}

{% block content %}
<main>
        <h1 id="roomTitle"></h1>

        <!-- actief & archief -->
        <!-- sorteren & filtreren -->
        <!-- filters -->

        <ul id="issueCards">
        </ul>

    </main>
{% endblock %}

{% block scripts %}
    <script>
        const roomIdCheck = "{{ room_id }}";
    </script>
    <script src="{{ url_for('static', filename='js/issues.js') }}"></script>
{% endblock %}