<!-- every html page will extend this page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/fonts/fonts.css">
</head>
<body>

    <header>
        <ul>
            <li id="backButtonItem">
                <button id="goBackButton">
                    <img src="../static/img/icons/arrowLeft.svg">
                </button>
            </li>
            <li id="pageTitleItem">
                <h1 id="pageTitle">{% block pageTitle %}{% endblock %}</h1>
            </li>
            <li id="activityButtonItem">
                <button id="activityButton">
                    <img src="../static/img/icons/activityBell.svg">
                </button>
            </li>
        </ul>
    </header>

    <!-- Custom Notification System -->
    <div id="notificationContainer" class="notification-container"></div>

    {% block content %}
    {% endblock %}

    <div id="createIssueContainer" class="invisible">
        <form id="createIssuePopup">
            <div class="createIssueHeader">
                <input id="issueName" type="text" placeholder="Naam..." name="issueName" />
                <div class="createIssueButtonGroup">
                    <button id="deleteIssue" type="button"><img src="../static/img/icons/trashBin.svg"></button>
                    <!-- <button type="button"><img src="../static/img/icons/xBig.svg"></button> -->
                </div>
            </div>
            <input type="file" accept="image/*" id="issueImageInput" />
            <div id="imagePreview" style="display: none;">
                <img id="previewImg" src="" alt="Image Preview" style="max-width: 200px; max-height: 200px; object-fit: cover; border-radius: 4px;" />
                <button type="button" id="removeImageButton" style="margin-left: 10px; background: #ff6b6b; color: white; border: none; padding: 5px 10px; border-radius: 4px; cursor: pointer;">Remove</button>
            </div>
            <input id="issueDescription" type="text" placeholder="Schrijf een beschrijving..." name="issueDescription" />
            <div class="createIssueRoom">
                <h3>Kamer</h3>
                <button type="button"id="createIssueRoomSelectButton">
                    <img src="../static/img/plusButton.svg">
                </button>
                <ul id="createIssueRoomOptions"></ul>
            </div>
            <div class="createIssuePriorityAndAssigned">
                <div class="createIssuePriority">
                    <h3>Prioriteit</h3>
                    <button type="button" id="createIssuePrioritySelectButton">
                        <img src="../static/img/priority/priority.svg">
                    </button>
                    <ul id="createIssuePriorityOptions"></ul>
                </div>
                <div class="createIssueAssignedTo">
                    <h3>Toegewezen aan</h3>
                    <button type="button" id="createIssueAssignedToButton">
                        <img src="../static/img/plusButton.svg">
                    </button>
                    <ul id="createIssueAssignedToOptions"></ul>
                </div>
            </div>
            <div class="timeline">
                <h3>Tijdlijn</h3>
                <ul id="timelineItems">
                    <li id="createIssueCreator">
                        <img src="">
                        <p id="createIssueCreatorName"></p>
                        <div id="issueStatusInfoBadge">
                            <h4 id="issueStatusInfoTitle">Melding gemaakt</h4>
                            <p id="issueStatusInfoText">Hier komt de datum</p>
                        </div>
                    </li>
                    <li>
                        <button type="button" id="addStatusUpdateButton">
                            <img src="../static/img/icons/plus.svg">
                        </button>
                    </li>
                    <!-- list items containing information about who worked on this issue and what happened when they did -->
                </ul>
            </div>

            <div id="createIssueCreatedBy" class="createIssueCreatedBy" style="display: none;">
                <p style="font-size: 1rem; color: var(--secundaryBackgroundColor700); text-align: center; margin: 0.5rem 0;">
                    Creating as: <span id="currentUserName"></span>
                </p>
            </div>
            <button type="button" id="createIssueSubmitButton">
                Opslaan
            </button>
            <button type="button" id="updateIssueButton">Update</button>
        
        </form>
    </div>

    <footer>
        <button id="createIssue">
            <img src="../static/img/icons/plus.svg">
        </button>
        <nav>
            <a id="inventory" href="inventory_home">
                <div id="inventoryWrapper">
                    <img id="inventoryImg" src="../static/img/icons/inventoryHollow.svg">
                </div>
            </a>
            <a id="home" href="/">
                <div id="homeWrapper">
                    <img id="homeImg" src="../static/img/icons/homeHollow.svg">
                </div>
            </a>
            <a id="issues" href="/issues">
                <div id="issueWrapper">
                    <img id="issuesImg" src="../static/img/icons/issuesHollow.svg">
                </div>
            </a>
            <a id="profile" href="profile">
                <div id="profileWrapper">
                    <img id="profileImg" src="../static/img/icons/accountHollow.svg">
                </div>
            </a>
        </nav>
    </footer>

    {% block scripts %}{% endblock %}

    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
</body>
</html>