<!-- every html page will extend this page -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escape Manager</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/css/styles.css">
    <link rel="stylesheet" href="../static/fonts/fonts.css">
</head>
<body>

    <header>
        <ul>
            <li id="backButtonItem">
                <button id="goBackButton">
                    <img src="../static/img/icons/arrowLeft.svg">
                </button>
            </li>
            <li id="pageTitleItem">
                <h1 id="pageTitle">{% block pageTitle %}{% endblock %}</h1>
            </li>
            <li id="activityButtonItem">
                <button id="activityButton">
                    <img src="../static/img/icons/activityBell.svg">
                </button>
            </li>
        </ul>
    </header>

    {% block content %}
    {% endblock %}

    <div id="createIssueContainer" class="invisible">
        <form id="createIssuePopup">
            <div class="createIssueHeader">
                <input type="text" placeholder="Naam..." name="issueName" />
                <div class="createIssueButtonGroup">
                    <button><img src="../static/img/icons/trashBin.svg"></button>
                    <button><img src="../static/img/icons/xBig.svg"></button>
                </div>
            </div>
            <input type="file" accept="image/*" id="issueImageInput" />
            <input type="text" placeholder="Schrijf een beschrijving..." name="issueDescription" />
            <div class="createIssueRoom">
                <h3>Kamer</h3>
                <button id="createIssueRoomSelectButton">
                    <img src="../static/img/icons/smallPlus.svg">
                </button>
                <ul id="createIssueRoomOptions"></ul>
            </div>
            <div class="createIssuePriorityAndAssigned">
                <div class="createIssuePriority">
                    <h3>Prioriteit</h3>
                    <button id="createIssuePrioritySelectButton">
                        <svg width="35" height="30" viewBox="0 0 35 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.176532 29.1989L17.1206 0.294332C17.1978 0.162524 17.3884 0.162523 17.4656 0.294332L34.4097 29.1989C34.4878 29.3322 34.3917 29.5 34.2371 29.5H0.349072C0.194523 29.5 0.0983739 29.3322 0.176532 29.1989Z" fill="#154781"/>
                            <path d="M18.3107 24.4137C18.3107 23.5999 17.6326 23.3965 17.2935 23.3965C16.9544 23.3965 16.2762 23.5999 16.2762 24.4137C16.2762 25.2275 16.9544 25.431 17.2935 25.431C17.6326 25.431 18.3107 25.2275 18.3107 24.4137Z" fill="white"/>
                            <path d="M17.2933 11.1897V20.3449" stroke="white" stroke-linecap="round"/>
                        </svg>    
                    </button>
                    <ul id="createIssuePriorityOptions">

                    </ul>
                </div>
                <div class="createIssueAssignedTo">
                    <h3>Toegewezen aan</h3>
                    <button id="createIssueAssignedToButton">
                        <img src="../static/img/icons/plus.svg">
                    </button>
                    <ul id="createIssueAssignedToOptions"></ul>
                </div>
            </div>
            <button type="submit" id="createIssueSubmitButton">
                Opslaan
            </button>
        
        </form>
    </div>

    <footer>
        <button id="createIssue">
            <img src="../static/img/icons/plus.svg">
        </button>
        <nav>
            <a id="inventory" href="inventory_home">
                <div id="inventoryWrapper">
                    <img id="inventoryImg" src="../static/img/icons/inventoryHollow.svg">
                </div>
            </a>
            <a id="home" href="/">
                <div id="homeWrapper">
                    <img id="homeImg" src="../static/img/icons/homeHollow.svg">
                </div>
            </a>
            <a id="issues" href="/issues">
                <div id="issueWrapper">
                    <img id="issuesImg" src="../static/img/icons/issuesHollow.svg">
                </div>
            </a>
            <a id="profile" href="profile">
                <div id="profileWrapper">
                    <img id="profileImg" src="../static/img/icons/accountHollow.svg">
                </div>
            </a>
        </nav>
    </footer>

    {% block scripts %}{% endblock %}

    <script src="{{ url_for('static', filename='js/template.js') }}"></script>
</body>
</html>